<h1>Eat Da Burger!!!!</h1>

<h2>Burgers Ordered</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{>burgers/eat-block }}
    {{/unless}}
    {{/each}}
</ul>

<li>
    {{burger_name}}
    <button class="ate" data-id="{{id}}" data-newate="{{ate}}">
        {{#if ate}}Eaten!{{else}}Devour{{/if}}
    </button>

</li>

<h2>Burgers Eaten</h2>

{{!-- <li>
    {{burger_name}}
    <button class="ate" data-id="{{id}}" data-newAte="{{ate}}">
        {{#if ate}}Devour{{else}}Eaten!{{/if}}
    </button>

</li> --}}



<h2>Order a Burger!</h2>

<form class="create-form">

    <div class="form-group">
        <label for="ca">Your Order:</label>
        <input type="text" id="ca" name="name">
    </div>

    <button type="submit">Submit</button>
</form>